<!DOCTYPE html>
<html lang="en">

<head>
  <%- include partials/admin/header.ejs %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%- include partials/admin/navigation.ejs %>
    <%- include partials/admin/sidebar.ejs %>
    <%- include partials/admin/content-wrapper.ejs %>
    <%- include partials/admin/footer.ejs %>
    <%- include partials/admin/control-sidebar.ejs %>
  </div>
  <!-- ./wrapper -->
  <%- include partials/admin/js.ejs %>
</body>

</html>